body {
  margin: 0;
}

story-root {
  height: 100vh;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

story-scene {
  min-height: 75vh;
  width: 60vw;
  padding: 4px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #d5d5d5;
}

story-scene.active {
  display: block;
}

story-choice > button{
  cursor: pointer;
  color: #4d53d1;
  border: none;
  background-color: transparent;
}

.hidden {
  display: none;
}